*.cache
*.log
.debug/x64/Debug/JSCUDA/JSCUDA.tlog/JSCUDA.lastbuildstate
*.tlog
.debug/x64/Debug/Test/main.obj
*.obj
*.pdb
.debug/x64/Debug/Test/vc120.idb
*.deps
*.ilk
*.opensdf
*.sdf
node/.idea/
Pre-build/.idea/
*.exp